# Question 1: Data Types and Input Handling
Take student name, roll number, age, and marks as input.
Display each value with its data type.
Convert age to float and marks to int before displaying.

In [2]:
#taking inputs
name = input("Enter your name:")
roll_number = input("Enter your roll number:")

age = float(input("Enter age: "))      #converted to float
marks = int(input("Enter marks: "))    #converted to int

#displaying each value and it's data type
print("Name:", name)
print("Type of name:", type(name))

print("Roll Number:", roll_number)
print("Type of roll number:", type(roll_number))

print("Age:", age)
print("Type of age:", type(age))

print("Marks:", marks)
print("Type of marks:", type(marks))

Enter your name: Aayuska
Enter your roll number: 04
Enter age:  20
Enter marks:  60

Name: Aayuska
Type of name: <class 'str'>
Roll Number: 04
Type of roll number: <class 'str'>
Age: 20.0
Type of age: <class 'float'>
Marks: 60
Type of marks: <class 'int'>

# Question 2: Conditional Logic
Accept marks (0–100) and display:

Excellent (≥80)
Good (≥60)
Pass (≥40)
Fail (<40)

In [3]:
#Taking marks as input
marks = int(input("Enter marks (0-100): "))

#Using Conditional logic
if marks>=80:
    print("Excellent")
elif marks>=60:
    print("Good")
elif marks>=40:
    print("Pass")
else:
    print("Fail")

Enter marks (0-100):  75

Good

# Question 3: Looping with Conditions
Print numbers between 1 and 100 that are divisible by 4 but not divisible by 8.

In [4]:
#Loop from 1 to 100
for i in range(1, 101):
    if i % 4 == 0 and i % 8 != 0:  #divisible by 4 and not divisible by 8
        print(i)

4
12
20
28
36
44
52
60
68
76
84
92
100

# Question 4: List Operations
Given:

marks = [55, 72, 48, 90, 67, 72, 90]
Find max, min, count of 72, and marks ≥ 60.

In [5]:
#marks list
marks = [55, 72, 48, 90, 67, 72, 90]

#maximum marks
max_mark = max(marks)

#minimum marks
min_mark = min(marks)

#count of 72
count_72 = marks.count(72)

#to find marks above 60
marks_above_60 = [] #creating empty list to store values above 60

#for loop to find marks over 60 using if statement and appending the value 'm' to the list marks_above_60
for m in marks:
    if m >= 60:
        marks_above_60.append(m)

#display results
print("Maximum mark:", max_mark)
print("Minimum mark:", min_mark)
print("Count of 72:", count_72)
print("Marks >= 60:", marks_above_60)

Maximum mark: 90
Minimum mark: 48
Count of 72: 2
Marks >= 60: [72, 90, 67, 72, 90]

# Question 5: Tuple and Immutability
Create a tuple of 5 subjects and attempt modification.
Explain result using comments.

In [7]:
#creating a tuple os subjects
subjects = ("Math", "Nepali", "Chemistry", "Bio", "Computer")

#if we try to modify a tuple, for eg:
# subjects[1] = "Biology"
#this would cause a type error because tuples are immutable and do not allow item assignment

print(subjects)

('Math', 'Nepali', 'Chemistry', 'Bio', 'Computer')

 # Question 6: List Sanitization and Metrics
Given:

marks = [45, -3, 88, "NA", 102, None, 67]
Write a function that:

Removes invalid entries
Returns:
Cleaned list
Number of invalid entries
Percentage of valid marks
Return values using a tuple.

In [9]:
def sanitize_marks(marks):
    #empty list to store valid marks
    cleaned_list = []
    
    # counter for invalid entries
    invalid_count = 0

    # loop through each item in the list
    for mark in marks:
        #check if mark is an integer and non-negative
        if isinstance(mark, int) and mark >= 0:
            cleaned_list.append(mark)
        else:
            invalid_count += 1
    
    total_items = len(marks)
    #percentage
    valid_percentage = (len(cleaned_list) / total_items) * 100
    return (cleaned_list, invalid_count, valid_percentage)

marks = [45, -3, 88, "NA", 102, None, 67]
result = sanitize_marks(marks)
cleaned, invalid, percent = result

print("valid marks:", cleaned)
print("invalid count:", invalid)
print("percentage:", percent)
print(result)

valid marks: [45, 88, 102, 67]
invalid count: 3
percentage: 57.14285714285714
([45, 88, 102, 67], 3, 57.14285714285714)

# Question 7: Dictionary Usage
Create a dictionary of roll number and name.
Implement add, update, and display operations using functions.

In [10]:
students = {}

#function to add to list
def add(roll, name):
    students[roll] = name
#function to update the list
def update(roll, name):
    students[roll] = name
#function to show the list
def show():
    for roll in students:
        print(roll, students[roll])

add(1, "binod")
add(2, "jojo")
update(2, "reman")
show()

1 binod
2 reman

# Question 8: Prime Number Function
Write is_prime(n) and display prime numbers between 1 and 50.

In [12]:
def is_prime(n):
    #0 and 1 are not prime numbers
    if n <= 1:
        return False

    #check divisibility from 2 to n-1
    for i in range(2, n):
        if n % i == 0:
            return False

    #if no divisor is found, number is prime
    return True


#print prime numbers from 1 to 50
for i in range(1, 51):
    #if true then print
    if is_prime(i):
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

# Question 9: Function Composition
Write functions to:

Calculate total marks
Calculate average
Classify result (Distinction / Pass / Fail)
Then write a function that combines them and returns:

(name, total, average, result)
Explain why modular design is beneficial.

In [13]:
#calculate total marks
def calculate_total(marks):
    return sum(marks)

#calculate average marks
def calculate_average(total, count):
    return total / count

#classify result
def classify_result(average):
    if average >= 75:
        return "Distinction"
    elif average >= 40:
        return "Pass"
    else:
        return "Fail"

#combined function using function composition
def student_result(name, marks):
    total = calculate_total(marks)
    average = calculate_average(total, len(marks))
    result = classify_result(average)
    return (name, total, average, result)

marks = [80, 70, 85]
output = student_result("Ram", marks)
print(output)

#modular design is used by dividing the problem into small functions

('Ram', 235, 78.33333333333333, 'Distinction')

# Question 10: Defensive Input Parsing
Write a function that accepts a raw input string in the format:

"Ram|101|22|78, 88, 91"
Hint: Parse student data from string format: "Name|Roll|Age|Mark1, Mark2, Mark3"

Tasks:

Extract name, roll number, age, and marks
Convert them into appropriate data types
Validate age (≥16) and marks (0–100)
Return the result as a dictionary using roll number as the key
The function must not crash for malformed input.

In [16]:
def parse_student(data):
    try:
        #split the input string using |
        parts = data.split("|")

        #first part is the name
        name = parts[0]

        #second part contains roll number and age
        roll_age = parts[1].split()
        roll = int(roll_age[0])   #convert roll to integer
        age = int(roll_age[1])    #convert age to integer

        #third part contains marks separated by commas
        marks = parts[2].split(",")
        marks = [int(m) for m in marks]   # convert marks to integers

        #check if age is valid
        if age < 16:
            return "age must be 16 or above"

        #check if marks are between 0 and 100
        for m in marks:
            if m < 0 or m > 100:
                return "marks must be between 0 and 100"

        #return result as dictionary with roll number as key
        return {roll: (name, age, marks)}

    except:
        #runs if input format is wrong
        return "invalid input"


#example input
data = "Ram|101 22|78,88,91"

#function call
print(parse_student(data))

{101: ('Ram', 22, [78, 88, 91])}

# Question 11: Type Stability and Conversion
Given the list:

data = [10, "20", 30.5, "abc", None, True]
Write a function that:

Separates numeric and non-numeric values
Converts numeric values to float
Returns both lists
Explain in comments why True behaves as a numeric value.

In [1]:
def separate_and_convert(data):
    numeric = []       #list to store numeric values
    non_numeric = []   #list to store non-numeric values

    for item in data:
        #check if item is int or float
        #true is also considered numeric in Python
        if isinstance(item, (int, float)):
            numeric.append(float(item))   #convert numeric value to float
        else:
            non_numeric.append(item)      #store non-numeric value

    return numeric, non_numeric

data = [10, "20", 30.5, "abc", None, True]

num_list, non_num_list = separate_and_convert(data)

print("numeric values:", num_list)
print("non-numeric values:", non_num_list)

#True behaves like a number because in Python:
    #True = 1 and False = 0
#Boolean is a subclass of int

numeric values: [10.0, 30.5, 1.0]
non-numeric values: ['20', 'abc', None]

# Question 12: Pattern-Based Looping
Generate the sequence:

2, 6, 12, 20, 30, 42, 56
Rules:

Do not hardcode the list
Use loops and conditionals only
Explain the pattern in comments

In [2]:
n = 1            #start from 1
count = 0        #how many numbers to print

while count < 7:     #we need 7 numbers
    value = n * (n + 1)
    print(value, end=", ")
    n += 1
    count += 1

#the pattern is generated by multiplying a number with the next number
#i.e., n * (n + 1)

2, 6, 12, 20, 30, 42, 56,

# Question 13: Set-Based Enrollment Analysis
Given:

python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}
Find:

Students enrolled in exactly two subjects
Students enrolled in only one subject
Students enrolled in all subjects

In [7]:
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}

#students in all subjects
all_subjects = python & sql & statistics

#students in exactly two subjects
two_subjects = (python & sql) | (python & statistics) | (sql & statistics)
two_subjects = two_subjects - all_subjects

#students in only one subject
one_subject = (python | sql | statistics) - (python & sql) - (python & statistics) - (sql & statistics)

print(all_subjects)
print(two_subjects)
print(one_subject)

{'Hari'}
{'Nita', 'Amit'}
{'Sita', 'Gita', 'Ram'}

# Question 14: Dictionary Aggregation Logic
Given:

records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}
Write a function that:

Computes average per student
Identifies top and bottom performers
Returns results using a single dictionary

In [8]:
records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}

def analyze_records(records):
    averages = {}

    #calculate average for each student
    for name in records:
        marks = records[name]
        avg = sum(marks) / len(marks)
        averages[name] = avg

    #find top and bottom performer
    top = max(averages, key=averages.get)
    bottom = min(averages, key=averages.get)

    return {
        "averages": averages,
        "top_performer": top,
        "bottom_performer": bottom
    }


result = analyze_records(records)
print(result)

{'averages': {'Amit': 83.66666666666667, 'Sita': 84.0, 'Hari': 52.333333333333336}, 'top_performer': 'Sita', 'bottom_performer': 'Hari'}

# Question 15: Nested Data Structure Analysis
Given a nested dictionary representing a school's grade book:

school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}
Write a function that:

Calculates the average marks for each student
Finds the top performer in each class
Calculates the overall school average
Returns a dictionary with:
class_toppers: {class_name: (student_name, average)}
school_average: float
student_averages: {student_name: average}
Explain in comments why nested dictionaries are useful for hierarchical data.

In [9]:
school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}

def analyze_school(data):
    student_avg = {}
    class_toppers = {}
    total_marks = 0
    total_count = 0

    for class_name in data:
        highest_avg = 0
        topper_name = ""

        for student in data[class_name]:
            marks = data[class_name][student]
            avg = sum(marks) / len(marks)

            student_avg[student] = avg
            total_marks += sum(marks)
            total_count += len(marks)

            if avg > highest_avg:
                highest_avg = avg
                topper_name = student

        class_toppers[class_name] = (topper_name, highest_avg)

    school_average = total_marks / total_count

    return class_toppers, school_average, student_avg


# function call
class_toppers, school_avg, student_avg = analyze_school(school_data)

print("Class Toppers:")
for cls in class_toppers:
    name, avg = class_toppers[cls]
    print(cls, "->", name, "(", round(avg, 2), ")")

print("\nStudent Averages:")
for student in student_avg:
    print(student, "->", round(student_avg[student], 2))

print("\nSchool Average:")
print(round(school_avg, 2))

#nested dictionaries are useful because they store hierarchical data
#like school → class → students → marks in an organized way

Class Toppers:
Class A -> Sita ( 84.0 )
Class B -> Ram ( 91.67 )

Student Averages:
Amit -> 83.67
Sita -> 84.0
Hari -> 52.33
Ram -> 91.67

School Average:
77.92